In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#crimeData_df = pd.read_csv("../Datasets/Crimes_2012-2016.csv")
print("Total number of crimes in the dataset: {}".format(len(crimeData)))
crimeData.head()

Total number of crimes in the dataset: 1136589

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,LOCATION,Cross.Street,Location.1
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,UNK,Unknown,OXFORD,OAKWOOD,"(34.0776, -118.308)"
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,UNK,Unknown,ODIN ST,CAHUENGA BL,"(34.1113, -118.3336)"
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,UNK,Unknown,105TH ST,CROESUS AV,"(33.9406, -118.2338)"
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,UNK,Unknown,101ST ST,JUNIPER ST,"(33.9449, -118.2332)"
4,05/26/2013,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),UNK,Unknown,1300 W SEPULVEDA BL,NaN,"(33.8135, -118.2992)"

In [6]:
crimeByType = crimeData['CrmCd.Desc'].value_counts()
crimeByType

TRAFFIC DR #                               167051
BATTERY - SIMPLE ASSAULT                    90224
VEHICLE - STOLEN                            73346
BURGLARY FROM VEHICLE                       72511
BURGLARY                                    69410
                                            ...
TILL TAP - GRAND THEFT ($950.01 & OVER)         3
MANSLAUGHTER, NEGLIGENT                         2
BLOCKING DOOR INDUCTION CENTER                  2
THEFT, COIN MACHINE - GRAND                     1
HOMICIDE (NON-UCR)                              1
Name: CrmCd.Desc, Length: 161, dtype: int64

In [7]:
for col in crimeData_df.columns:
        print(col)

Date.Rptd
DR.NO
DATE.OCC
TIME.OCC
AREA
AREA.NAME
RD
Crm.Cd
CrmCd.Desc
Status
Status.Desc
LOCATION
Cross.Street
Location.1

In [8]:
crimeData_df.dtypes

Date.Rptd       object
DR.NO            int64
DATE.OCC        object
TIME.OCC         int64
AREA             int64
AREA.NAME       object
RD               int64
Crm.Cd           int64
CrmCd.Desc      object
Status          object
Status.Desc     object
LOCATION        object
Cross.Street    object
Location.1      object
dtype: object

In [9]:
crimeByCode = crimeData_df['Crm.Cd'].value_counts()
crimeByCode

997    167051
624     90224
440     74965
510     73346
330     72511
        ...
347         4
470         3
113         2
432         2
111         1
Name: Crm.Cd, Length: 140, dtype: int64

In [10]:
crimeData_df.nunique()

Date.Rptd          1773
DR.NO           1135556
DATE.OCC           1770
TIME.OCC           1439
AREA                 21
AREA.NAME            21
RD                 1303
Crm.Cd              140
CrmCd.Desc          161
Status                9
Status.Desc           7
LOCATION         206290
Cross.Street      18761
Location.1        68553
dtype: int64

In [13]:
crimeData_df.Status.value_counts()

IC     916146
AO     107076
AA     102438
JA       8667
JO       2227
CC         25
UNK         8
TH          1
19          1
Name: Status, dtype: int64

In [19]:
crimeData_df.to_csv('LA_CrimeData.csv',header=False)