In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

crimeData_df = pd.read_csv("../Datasets/Crimes_2012-2016.csv")
print("Total number of crimes in the dataset: {}".format(len(crimeData_df)))
crimeData_df.head()

Total number of crimes in the dataset: 1136589

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,LOCATION,Cross.Street,Location.1
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,UNK,Unknown,OXFORD,OAKWOOD,"(34.0776, -118.308)"
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,UNK,Unknown,ODIN ST,CAHUENGA BL,"(34.1113, -118.3336)"
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,UNK,Unknown,105TH ST,CROESUS AV,"(33.9406, -118.2338)"
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,UNK,Unknown,101ST ST,JUNIPER ST,"(33.9449, -118.2332)"
4,05/26/2013,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),UNK,Unknown,1300 W SEPULVEDA BL,NaN,"(33.8135, -118.2992)"

In [2]:
crimeByType = crimeData_df['CrmCd.Desc'].value_counts()
crimeByType

TRAFFIC DR #                               167051
BATTERY - SIMPLE ASSAULT                    90224
VEHICLE - STOLEN                            73346
BURGLARY FROM VEHICLE                       72511
BURGLARY                                    69410
                                            ...
TILL TAP - GRAND THEFT ($950.01 & OVER)         3
MANSLAUGHTER, NEGLIGENT                         2
BLOCKING DOOR INDUCTION CENTER                  2
THEFT, COIN MACHINE - GRAND                     1
HOMICIDE (NON-UCR)                              1
Name: CrmCd.Desc, Length: 161, dtype: int64

In [3]:
for col in crimeData_df.columns:
        print(col)

Date.Rptd
DR.NO
DATE.OCC
TIME.OCC
AREA
AREA.NAME
RD
Crm.Cd
CrmCd.Desc
Status
Status.Desc
LOCATION
Cross.Street
Location.1

In [4]:
crimeData_df.dtypes

Date.Rptd       object
DR.NO            int64
DATE.OCC        object
TIME.OCC         int64
AREA             int64
AREA.NAME       object
RD               int64
Crm.Cd           int64
CrmCd.Desc      object
Status          object
Status.Desc     object
LOCATION        object
Cross.Street    object
Location.1      object
dtype: object

In [5]:
crimeByCode = crimeData_df['Crm.Cd'].value_counts()
crimeByCode

997    167051
624     90224
440     74965
510     73346
330     72511
        ...
347         4
470         3
113         2
432         2
111         1
Name: Crm.Cd, Length: 140, dtype: int64

In [6]:
crimeData_df.nunique()

Date.Rptd          1773
DR.NO           1135556
DATE.OCC           1770
TIME.OCC           1439
AREA                 21
AREA.NAME            21
RD                 1303
Crm.Cd              140
CrmCd.Desc          161
Status                9
Status.Desc           7
LOCATION         206290
Cross.Street      18761
Location.1        68553
dtype: int64

In [7]:
crimeData_df.Status.value_counts()

IC     916146
AO     107076
AA     102438
JA       8667
JO       2227
CC         25
UNK         8
TH          1
19          1
Name: Status, dtype: int64

In [8]:
crimeData_df.dropna()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,LOCATION,Cross.Street,Location.1
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,UNK,Unknown,OXFORD,OAKWOOD,"(34.0776, -118.308)"
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,UNK,Unknown,ODIN ST,CAHUENGA BL,"(34.1113, -118.3336)"
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,UNK,Unknown,105TH ST,CROESUS AV,"(33.9406, -118.2338)"
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,UNK,Unknown,101ST ST,JUNIPER ST,"(33.9449, -118.2332)"
5,05/24/2013,131213618,05/22/2013,1145,12,77th Street,1211,997,TRAFFIC DR #,UNK,Unknown,54TH,CRENSHAW,"(33.9931, -118.3308)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136555,06/19/2016,161314121,06/19/2016,2330,13,Newton,1395,220,ATTEMPTED ROBBERY,IC,Invest Cont,AVALON BL,FLORENCE,"(33.9748, -118.2652)"
1136569,04/12/2016,161809182,04/12/2016,1100,18,Southeast,1821,210,ROBBERY,IC,Invest Cont,99TH,FIGUEROA,"(33.9464, -118.2826)"
1136571,07/06/2016,162013236,07/06/2016,1900,20,Olympic,2029,626,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,AO,Adult Other,SHATTO PL,6TH ST,"(34.0637, -118.2899)"
1136575,05/07/2016,160709516,05/07/2016,1115,7,Wilshire,701,624,BATTERY - SIMPLE ASSAULT,AO,Adult Other,MELROSE AV,HAYWORTH,"(34.0838, -118.3627)"
1136582,02/28/2016,160506504,02/28/2016,2110,5,Harbor,519,438,RECKLESS DRIVING,IC,Invest Cont,HENRY FORD AV,DENNI ST,"(33.7857, -118.2424)"

In [9]:
crimeData_df.drop(['Status', 'Status.Desc', 'LOCATION', 'Cross.Street'], axis = 1, inplace = True)

In [11]:
crimeData_df.head()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Location.1
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,"(34.0776, -118.308)"
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,"(34.1113, -118.3336)"
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,"(33.9406, -118.2338)"
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,"(33.9449, -118.2332)"
4,05/26/2013,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),"(33.8135, -118.2992)"

In [12]:
crimeData_df.describe()

              DR.NO      TIME.OCC          AREA            RD        Crm.Cd
count  1.136589e+06  1.136589e+06  1.136589e+06  1.136589e+06  1.136589e+06
mean   1.405451e+08  1.367056e+03  1.109752e+01  1.156037e+03  5.798710e+02
std    1.389175e+07  6.374626e+02  5.982122e+00  5.983798e+02  2.593059e+02
min    4.180000e+02  1.000000e+00  1.000000e+00  1.000000e+02  1.100000e+02
25%    1.306055e+08  9.300000e+02  6.000000e+00  6.450000e+02  3.410000e+02
50%    1.410093e+08  1.430000e+03  1.100000e+01  1.181000e+03  5.100000e+02
75%    1.514123e+08  1.900000e+03  1.600000e+01  1.664000e+03  7.450000e+02
max    1.699148e+08  2.359000e+03  2.100000e+01  2.198000e+03  9.970000e+02

In [15]:
group_crime = crimeData_df.groupby('Crm.Cd')
group_crime = crimeData_df['Crm.Cd'].value_counts()
group_crime

997    167051
624     90224
440     74965
510     73346
330     72511
        ...
347         4
470         3
113         2
432         2
111         1
Name: Crm.Cd, Length: 140, dtype: int64

In [16]:
group_crime.describe()

count       140.000000
mean       8118.492857
std       21927.623323
min           1.000000
25%          44.750000
50%         543.000000
75%        2651.750000
max      167051.000000
Name: Crm.Cd, dtype: float64

In [20]:
#find null values
for column in crimeData_df.columns:
    print(f"Column {column} has {crimeData_df[column].isnull().sum()} null values")

Column Date.Rptd has 0 null values
Column DR.NO has 0 null values
Column DATE.OCC has 0 null values
Column TIME.OCC has 0 null values
Column AREA has 0 null values
Column AREA.NAME has 0 null values
Column RD has 0 null values
Column Crm.Cd has 0 null values
Column CrmCd.Desc has 158 null values
Column Location.1 has 4397 null values

In [21]:
# Drop null rows
crimeData_clean = crimeData_df.dropna()

In [22]:
crimeData_clean.head()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Location.1
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,"(34.0776, -118.308)"
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,"(34.1113, -118.3336)"
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,"(33.9406, -118.2338)"
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,"(33.9449, -118.2332)"
4,05/26/2013,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),"(33.8135, -118.2992)"

In [23]:
crimeData_clean.drop(columns=["Date.Rptd"], inplace = True)
crimeData_clean.head(50)

/var/folders/kj/sw_mg4996nd9h95k2qkh4gl00000gn/T/ipykernel_31128/1116877959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimeData_clean.drop(columns=["Date.Rptd"], inplace = True)

,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Location.1
0,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,"(34.0776, -118.308)"
1,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,"(34.1113, -118.3336)"
2,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,"(33.9406, -118.2338)"
3,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,"(33.9449, -118.2332)"
4,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),"(33.8135, -118.2992)"
5,131213618,05/22/2013,1145,12,77th Street,1211,997,TRAFFIC DR #,"(33.9931, -118.3308)"
6,140119745,08/23/2014,2240,1,Central,111,310,BURGLARY,"(34.0617, -118.2469)"
7,142015263,08/23/2014,1337,20,Olympic,2023,901,VIOLATION OF RESTRAINING ORDER,"(34.069, -118.3066)"
8,140119671,08/23/2014,1945,1,Central,111,210,ROBBERY,"(34.0644, -118.2387)"
9,140915108,08/22/2014,825,9,Van Nuys,933,901,VIOLATION OF RESTRAINING ORDER,"(34.1817, -118.4509)"
10,140915116,08/22/2014,800,9,Van Nuys,901,664,"BUNCO, PETTY THEFT","(34.2085, -118.4662)"
11,141316834,08/22/2014,735,13,Newton,1309,997,TRAFFIC DR #,"(34.0228, -118.2325)"
12,142114498,08/23/2014,2019,21,Topanga,2126,901,VIOLATION OF RESTRAINING ORDER,"(34.2083, -118.5929)"
13,141612661,08/21/2014,1030,16,Foothill,1687,510,VEHICLE - STOLEN,"(34.2227, -118.3743)"
14,141115368,08/21/2014,2000,11,Northeast,1171,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),"(34.091, -118.2788)"
15,141115372,08/21/2014,2030,11,Northeast,1143,330,BURGLARY FROM VEHICLE,"(34.1075, -118.2732)"
16,141612645,08/20/2014,1320,16,Foothill,1655,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"(34.2486, -118.3575)"
17,141815866,08/20/2014,1930,18,Southeast,1806,997,TRAFFIC DR #,"(33.9525, -118.2651)"
18,142114446,08/20/2014,1530,21,Topanga,2189,943,CRUELTY TO ANIMALS,"(34.1706, -118.5698)"
19,140318169,08/22/2014,1430,3,Southwest,319,440,THEFT PLAIN - PETTY ($950 & UNDER),"(34.0419, -118.2669)"
20,140812560,08/21/2014,1500,8,West LA,823,440,THEFT PLAIN - PETTY ($950 & UNDER),"(34.047, -118.5259)"
21,141218838,08/21/2014,1830,12,77th Street,1283,624,BATTERY - SIMPLE ASSAULT,"(33.9432, -118.309)"
22,141612506,08/18/2014,20,16,Foothill,1663,420,THEFT FROM MOTOR VEHICLE - PETTY ($950.01 & OVER),"(34.2326, -118.4029)"
23,141917489,08/19/2014,1800,19,Mission,1959,210,ROBBERY,"(34.2609, -118.4402)"
24,141917613,08/22/2014,1200,19,Mission,1985,310,BURGLARY,"(34.2279, -118.4516)"
25,141013733,08/16/2014,1755,10,West Valley,1061,997,TRAFFIC DR #,"(34.1724, -118.5649)"
26,141218689,08/17/2014,2203,12,77th Street,1211,900,VIOLATION OF COURT ORDER,"(33.9909, -118.3225)"
27,141612517,08/18/2014,1300,16,Foothill,1675,310,BURGLARY,"(34.2317, -118.3753)"
28,140215888,08/15/2014,1410,2,Rampart,249,997,TRAFFIC DR #,"(34.0513, -118.264)"
29,141115067,08/16/2014,2315,11,Northeast,1195,330,BURGLARY FROM VEHICLE,"(34.0725, -118.2459)"
30,140405999,02/20/2014,1630,4,Hollenbeck,477,761,BRANDISH WEAPON,"(34.0302, -118.2077)"
31,140615577,07/17/2014,800,6,Hollywood,631,649,DOCUMENT FORGERY / STOLEN FELONY,"(34.0957, -118.3938)"
32,141218532,08/16/2014,1340,12,77th Street,1259,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT","(33.9694, -118.2608)"
33,141612410,08/16/2014,1800,16,Foothill,1676,510,VEHICLE - STOLEN,"(34.2249, -118.3657)"
34,141714160,08/25/2014,1201,17,Devonshire,1787,420,THEFT FROM MOTOR VEHICLE - PETTY ($950.01 & OVER),"(34.2346, -118.5231)"
35,140118961,08/14/2014,820,1,Central,132,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...","(34.0577, -118.2519)"
36,141421193,08/14/2014,730,14,Pacific,1494,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...","(33.9432, -118.4013)"
37,141713747,08/14/2014,530,17,Devonshire,1737,350,"THEFT, PERSON","(34.2687, -118.4877)"
38,141316342,08/14/2014,1556,13,Newton,1361,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT","(34.002, -118.2783)"
39,142014815,08/14/2014,1640,20,Olympic,2033,420,THEFT FROM MOTOR VEHICLE - PETTY ($950.01 & OVER),"(34.0559, -118.3091)"
40,142015003,08/18/2014,915,20,Olympic,2031,440,THEFT PLAIN - PETTY ($950 & UNDER),"(34.0617, -118.3091)"
41,140812227,08/12/2014,2200,8,West LA,828,440,THEFT PLAIN - PETTY ($950 & UNDER),"(34.0643, -118.4322)"
42,142014643,08/11/2014,2230,20,Olympic,2004,626,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,"(34.0776, -118.3069)"
43,141013817,08/09/2014,1035,10,West Valley,1063,997,TRAFFIC DR #,"(34.1726, -118.5492)"
44,141713480,08/08/2014,1300,17,Devonshire,1783,510,VEHICLE - STOLEN,"(34.2355, -118.5517)"
45,142113845,08/08/2014,300,21,Topanga,2139,930,"THREATS, VERBAL/TERRORIST","(34.2059, -118.571)"
46,141218053,08/07/2014,1710,12,77th Street,1204,930,"THREATS, VERBAL/TERRORIST","(34.0028, -118.3002)"
47,140317124,08/06/2014,1600,3,Southwest,331,950,"DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $400","(34.0325, -118.3506)"
48,140215429,08/06/2014,1556,2,Rampart,231,930,"THREATS, VERBAL/TERRORIST","(34.0707, -118.2795)"
49,141420492,08/08/2014,1200,14,Pacific,1452,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"(33.9698, -118.4584)"

In [24]:
import ast
crimeData_clean['Location.1'] = crimeData_clean['Location.1'].apply(ast.literal_eval)

/var/folders/kj/sw_mg4996nd9h95k2qkh4gl00000gn/T/ipykernel_31128/3522632600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimeData_clean['Location.1'] = crimeData_clean['Location.1'].apply(ast.literal_eval)

In [25]:
crimeData_clean['lat'] = crimeData_clean['Location.1'].str[0]
crimeData_clean['long'] = crimeData_clean['Location.1'].str[1]

/var/folders/kj/sw_mg4996nd9h95k2qkh4gl00000gn/T/ipykernel_31128/1588753639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimeData_clean['lat'] = crimeData_clean['Location.1'].str[0]
/var/folders/kj/sw_mg4996nd9h95k2qkh4gl00000gn/T/ipykernel_31128/1588753639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimeData_clean['long'] = crimeData_clean['Location.1'].str[1]

In [26]:
crimeData_clean.head()

,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Location.1,lat,long
0,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,"(34.0776, -118.308)",34.0776,-118.3080
1,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,"(34.1113, -118.3336)",34.1113,-118.3336
2,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,"(33.9406, -118.2338)",33.9406,-118.2338
3,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,"(33.9449, -118.2332)",33.9449,-118.2332
4,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),"(33.8135, -118.2992)",33.8135,-118.2992

In [29]:
crimeData_clean['Year'] = pd.DatetimeIndex(crimeData_clean['DATE.OCC']).year
crimeData_clean.head()

/var/folders/kj/sw_mg4996nd9h95k2qkh4gl00000gn/T/ipykernel_31128/3020012749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimeData_clean['Year'] = pd.DatetimeIndex(crimeData_clean['DATE.OCC']).year

,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Location.1,lat,long,Year
0,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,"(34.0776, -118.308)",34.0776,-118.3080,2013
1,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,"(34.1113, -118.3336)",34.1113,-118.3336,2013
2,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,"(33.9406, -118.2338)",33.9406,-118.2338,2013
3,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,"(33.9449, -118.2332)",33.9449,-118.2332,2013
4,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),"(33.8135, -118.2992)",33.8135,-118.2992,2013

In [32]:
crimeData_clean = crimeData_clean.reset_index(drop=True)

In [33]:
crimeData_clean.to_csv("../Datasets/LA_CrimeData.csv",header=True)